<div class="container">
    <h3>List of repositories</h3>
    <h4>Company: <cite>"{{companyName}}"</cite></h4>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Repository name</th>
            <th>
                <span>Forks
                    <span class="glyphicon glyphicon-menu-up up"
                          ng-click="order = '-forks'"></span>
                    <span class="glyphicon glyphicon-menu-down down"
                          ng-click="order = 'forks'"></span>
                </span>
            </th>
            <th>
                <span>Contributions
                    <span class="glyphicon glyphicon-menu-up up"
                          ng-click="order = '-contribution'"></span>
                    <span class="glyphicon glyphicon-menu-down down"
                          ng-click="order = 'contribution'"></span>
                </span>
            </th>
        </tr>
        </thead>

        <tr ng-repeat="repo in repositories | orderBy: order"
            ui-sref="contribution({org: companyName, repo: repo.name})">
            <td>{{repo.name}}</td>
            <td class="centered">{{repo.forks_count}}</td>
            <td class="centered">{{repo.contribution.length}}</td>
        </tr>
    </table>
</div>