<div class="container">
    <h3>List of repositories</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Forks</th>
            <th>Contributions</th>
        </tr>
        </thead>

        <tr ng-repeat="repo in repositories | orderBy: 'forks'">
            <td>{{repo.name}}</td>
            <td class="centered">{{repo.forks_count}}</td>
            <td class="centered">{{repo.contribution.length}}</td>
        </tr>
    </table>
</div>